.menu-btn {
  margin-left: auto;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline-style: none;
  &.is-open .icon-menu {
    display: block;
  }
  & .icon-menu {
    display: none;
  }
  &.is-open .icon-cross {
    display: none;
  }
  & .icon-cross {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn:hover .icon-menu,
.menu-btn:hover .icon-cross {
  fill: $accent-focus-color;
}

@media screen and (max-width: 767px) {
  .holder {
    justify-content: space-between;
    align-items: center;
  }
  .menu-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 60px 20px;
    background-color: white;
    text-align: center;
    border-top: 1px solid #ececec;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
    &.is-open {
      display: none;
    }
  }

  .list-site-nav {
    margin-bottom: 60px;
    .item-nav + .item-nav {
      margin-top: 40px;
    }
  }

  .list-info-nav {
    .item-contacts + .item-contacts {
      margin-top: 16px;
    }
  }
}
