.section-title {
  color: $main-text-color;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
