$main-text-color: #212121;
$white-text-color: #ffffff;
$accent-focus-color: #2196f3;
$background-footer: #2f303a;
$border-color: #ececec;
$body-text-color: #757575;
$background-color: #f5f4fa;
$card-border-color: #eeeeee;
$svg-color: #afb1b8;

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
